RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

#Force www:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^reggieforcongress.com [NC]
RewriteRule ^(.*)$ http://www.reggieforcongress.com/$1 [L,R=301,NC]

ErrorDocument 404 /404.php

Redirect 301 /donate http://www.reggieforcongress.com/
